C02/ex00/canon
C02/ex01/firstStep
C02/ex02/letUsSpeak
C02/ex03/bsp
C03/ex03/weirdEnough
C04/ex00/polymorphisme
C04/ex01/burn
C04/ex03/interface
*.o
C04/ex03/exec
C01/ex00/brainzz
C01/ex00/brainzz
*/*/.design_running
C04/ex03/exec
C05/ex00/bureaucrats
C05/ex01/forms
C05/ex02/noYouNeedForm28BNot28C
C05/ex03/atLeastThisBeatsCoffee-making
C05/ex03/ouioui_shrubbery
C05/ex03/FirstTarget_shrubbery
C06/ex00/convert
C00/ex01/exec
C00/ex01/phonebook
C05/ex02/noYouNeedForm28BNot28C
C09/ex00/btc
*.d
C09/ex00/btc
C09/.vscode/settings.json
C09/ex02/PmergeMe
